.answers-div{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.answers-div button{
  width: 90%;
  margin: 10px auto;
  height: 60px;
  font-size: 2.3vh;
}

.answers-div button:active{
  background: -prefix-linear-gradient(left top, #107300, #439635, #51a343, #73cc64);
  background: linear-gradient(to bottom right,#107300, #439635, #51a343, #73cc64);
}

.answers-div button:hover:not(.disabled){
  transform: scale(1.02);
}

.answers-div button.correct{
  background: -prefix-linear-gradient(left top, #029658, #44c289, #59d9a4, #78facf);
  background: linear-gradient(to bottom right,#029658, #44c289, #59d9a4, #78facf);
}

.answers-div button.incorrect{
  background: -prefix-linear-gradient(left top, #960202, #c2444f, #d95975, #fa7898);
  background: linear-gradient(to bottom right,#960202, #c2444f, #d95975, #fa7898);
}

@media (min-width: 768px) {
  .answers-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

