button.play{
  display: block; 
  height: 60px;
  width: min(80vw, 500px);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  margin: 50px auto;
}


label{
  display: block;
  margin: 20px 0;
  font-size: 1.2rem;
}

input, select{
  display: block;
  width: 100%;
  font-size: 1.2rem;
  height: 50px;
  border-radius: 5px;
  padding: 0 10px;
}

form{
  margin: auto;
  width: min(90vw, 700px);
}