body{
  background-color: black;
  color: white;
}

button{
  background: -prefix-linear-gradient(left top, #179602, #57c244, #6cd959, #8bfa78);
  background: linear-gradient(to bottom right,#179602,  #57c244, #6cd959, #8bfa78);
  border-radius: 5px;
  border: 1px solid #117500;
  color: white;
}

button.main-button{
  background: -prefix-linear-gradient(left top, #1d0296, #5144c2, #5b59d9, #7a78fa);
  background: linear-gradient(to bottom right,#1d0296, #5144c2, #5b59d9, #7a78fa);
  border: 1px solid #000d57;
}